/* Home Page Styling */
.home-container {
  padding: 20px;
}

/* Search Bar */
.home-searchbar-container {
  border: 1px solid #eee;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  background-color: #fff;
}

.home-head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-searchbar-container > input {
  border: 0;
  width: 100%;
  outline: none;
}

.home-searchbar-icon {
  height: 1.1em;
  padding: 2.5px;
  padding-left: 10px;
  padding-right: 10px;
}
/*********/

/* Add User Button */
.home-add-btn-container {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}

.home-add-btn-container > .home-add-btn {
  background-color: #004b3c;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  outline: none;
  border: 0;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  border-radius: 10px;
}

.home-add-btn-container > .home-add-btn:hover {
  transition: 0.3s linear;
  background-color: #02997b;
}

/******/

.loading-class {
  width: 50px;
  height: 50px;
  background: rgb(174, 95, 248);
  -webkit-animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(0.3);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(0deg) scale(0.3);
  }
}
